<!-- 加载动画：樱花粉模糊背景 + 黑云黑雨 + 像素小人淋雨 -->
<div id="site-loading" aria-hidden="true">
    <div class="sl-scene">
        <div class="sl-cloud"></div>
        <div class="sl-kid">
            <div class="sl-hood"></div>
            <div class="sl-cloak"></div>
            <span class="sl-leg sl-leg-l"></span>
            <span class="sl-leg sl-leg-r"></span>
            <div class="sl-face">
                <span class="sl-eye sl-eye-l"></span>
                <span class="sl-eye sl-eye-r"></span>
            </div>
        </div>
        <div class="sl-ground"></div>
        <div class="sl-rain">
            <i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
        </div>
    </div>
</div>
